@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global */
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  background: #fff;
}

ul {
  list-style: none;
}

h1,
h2 {
  margin-bottom: 15px;
}

p {
  text-align: justify;
}

input[type="email"] {
  border-radius: 5px;
  border: 0;
  box-shadow: none;
  padding: 4px;
  height: 40px;
  width: 250px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.highlight {
  color: #a1c3ff;
}

.button_1 {
  height: 40px;
  min-width: 120px;
  background: #f3542c;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
}

#sidebar .dark {
  background: #0151cc;
  color: #fff;
  padding: 30px 20px 30px 20px;
  width: 300px;
}

/* Navbar */
.navbar {
  background: #3474e6;
  color: #fff;
  height: 60px;
}

.navbar .logo {
  font-size: x-large;
  font-weight: bold;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar a:hover {
  color: #a1c3ff;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

/* Header */
.header {
  background-color: #0151cc;
  color: #fff;
  min-height: 400px;
}

.header h1 {
  font-size: 3em;
  font-weight: bold;
  line-height: 1.2;
}

.header img {
  max-width: 400px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Newsletter Index */
.newsletter {
  background: #a1c3ff;
}

.newsletter h3 {
  font-size: 1.5em;
  color: #000;
  margin-right: 20px;
}

.newsletter .container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Boxes */
.boxes .container {
  display: flex;
  justify-content: space-between;
}

.box {
  flex: 1;
  padding: 40px;
  text-align: center;
}

.box img {
  width: 80px;
}

.box i {
  margin-right: 10px;
}

/* About */
.about .container {
  display: flex;
  margin: 40px auto;
}

.about article,
.services article {
  margin-right: 40px;
}

/* Newsletter */
#newsletter {
  background: #a1c3ff;
}

#newsletter .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 30px;
}

#newsletter h3 {
  font-size: 1.5em;
  color: #000;
  margin-right: 20px;
}

#sidebar input,
#sidebar textarea,
#sidebar button {
  border: 0;
  border-radius: 5px;
  box-shadow: none;
  min-height: 40px;
  padding: 4px;
  width: 100%;
}

#sidebar textarea {
  min-height: 100px;
}

#sidebar input,
textarea {
  margin-bottom: 10px;
}

#sidebar .dark h3 {
  margin-bottom: 20px;
}

/* Services */
.services .container {
  display: flex;
  margin: 40px auto;
}

.services h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Footer */
.footer {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3474e6;
  height: 50px;
  padding: 20px;
}

/* 768px */
@media (max-width: 768px) {
  .header .container {
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
  }

  .newsletter .container {
    flex-direction: column;
    text-align: center;
  }

  .newsletter h3 {
    margin-bottom: 10px;
  }

  .newsletter form {
    min-width: 300px;
  }

  .newsletter input[type="email"],
  #newsletter input[type="email"] {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }

  .newsletter input[type="email"]::-webkit-input-placeholder,
  #newsletter input[type="email"]::-webkit-input-placeholder {
    text-align: center;
  }
  .newsletter input[type="email"]:-moz-placeholder,
  #newsletter input[type="email"]:-moz-placeholder {
    text-align: center;
  }

  .newsletter button,
  #newsletter button {
    display: block;
    width: 100%;
  }

  .boxes .container,
  #newsletter .container {
    flex-direction: column;
    text-align: center;
  }

  #newsletter h3 {
    margin-bottom: 10px;
  }

  #newsletter form {
    min-width: 300px;
  }

  .about .container,
  .services .container {
    display: block;
    margin: 40px auto;
  }

  .about article,
  .services article {
    margin: 0 0 40px 0;
  }

  #sidebar .dark {
    background: #0151cc;
    color: #fff;
    padding: 30px 20px 30px 20px;
    width: 100%;
  }
}

/* 432px */
@media (max-width: 432px) {
  .navbar {
    height: 90px;
  }

  .navbar .container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
  }

  .navbar ul li {
    margin: 0 20px 0 0;
  }
}
